/* Global Style */
html {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  background-color: white;
}

body {
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: auto;
}

a {
  color: white;
  text-decoration: none;
}

/* header section style */
header {
  height: 30rem;
  padding-top: 1rem;
  background-image: url("../../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.topcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  background-color: cadetblue;
  color: white;
}

.topcontainer div {
  display: flex;
  align-items: center;
}

.topcontainer img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.topcontainer ul {
  margin-right: 1rem;
}

.topcontainer li {
  display: inline;
  padding: 0 1rem;
}

.short-menu {
  display: none;
}

.bannercontainer{
  display: flex;
  justify-content: flex-end;
}

.banner {
  display: inline-block;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
  background-color: white;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  header {
    padding-top: 0;
    height: 22rem;
  }

  header.container {
    max-width: 100%;
  }

  .banner {
    margin-top: 5rem;
    margin-right: 2rem;
    padding: .75rem 4rem;
  }

  h1 {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 675px) {
  .long-menu {
    display: none;
  }
  .short-menu {
    display: block;
    color: white;
  }
}

@media only screen and (max-width: 560px) {
  header {
    height: 17rem;
    background-position: 15%;
  }
  .topcontainer div span {
    display: none;
  }
  .banner{
    margin: 9rem auto 0 auto;
    padding: 1.5rem;
    width:100%;
  }
  h1 {
    font-size: 1rem;
    text-align: center;
  }
}

/* details section */
.details {
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  margin: 3rem;
  width: 5rem;
}

.service img {
  width: 5rem;
}

.service img.paper {
  width: 3.5rem;
}

.service div {
  text-align: center;
}

.businessInfo {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}
.subheading {
  max-width: 10rem;
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: .5rem 1.25rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 560px) {
    .details {
      flex-direction: column;
      margin-top: 3.02rem;
      justify-content: flex-start;
      align-items: center;
    }
    .service {
      margin: .75rem;
      height: auto;
    }
    .service div {
      font-family: "Helvetica";
      font-size: 0.77rem;
      margin: .75rem;
    }
    .businessInfo {
      width: 100%;
    }
    .subheading {
      max-width: 100%;
      margin-right: 0;
      text-align: center;
    }
    .businessInfo p {
      font-family: "Helvetica";
      font-size: 0.77rem;
      padding: 0 1rem;
    }
}

footer {
  display: flex;
  max-width: 960px;
  align-items: center;
  background-color: azure;
  padding: 4rem 0;
}

footer img {
  height: 1.5rem;
  margin-left: 4rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 560px) {
  footer {
    justify-content: center;
  }
  footer div {
    display: none;
  }
}
